/* Colores naranja fuerte hsla(30, 99%, 51%, 1)*/
/* Color naranja claro hsla(30, 73%, 52%, 1)*/
/*color gris submenu capas hsla(30, 32%, 75%, 0.97)*/
/* hsl(44, 42%, 26%); color letras titulos*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: hsl(30, 75%, 63%);
    z-index: 100000;
}



/*MENU FIJO*/
.header__naranjaclaro {
    max-width: 1600px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.naranjaclaro__logo a img {
    width: 100px;
}

.naranjaclaro__logo a {
    display: flex;
    align-items: center;
}

.naranjaclaro__titulo{
    display: flex;
    flex-direction: column;

}

.naranjaclaro__titulo .t1 {
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    color: white;
}

.naranjaclaro__titulo .t2 {
    font-family: 'Bree Serif', serif;
    font-size: 20px;
    color: white;
}


.naranjaclaro__sponsors a img {
    width: 100px;
    height: 100px;
    padding: 10px;
}

.naranjaclaro__buscar input {
    width: 300px;
    padding: 10px;
}

/*MENU NAV*/

.contiene__menu {
    width: 100%;
    height: 70px;
    background-color: hsl( 28, 1%, 43%);
    padding: 0px 20px;
}

.menu {
    /*max-width: 1600px;*/
    width: 100%;
    margin: auto;
    height: 100%;
}

nav {
    height: 100%;
}

.menu__nav__ul {
    height: 100%;
    display: flex;
    position: auto;
}

.menu__nav__ul__li {
    height: 100%;
    list-style: none;
    position: relative;
}

.menu__nav__ul__li a {
    width: 100%;
    height: 100%;
    display: flex;
    color: white;
    align-items: center;
    padding: 14px 50px;
    text-transform: uppercase;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 14px;
    transition: all 300ms ease;
}

.menu__nav__ul__li a:hover {
    transform: scale (1.1);
    background:hsl(30, 88%, 74%);
    box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.5);
    font-size: 16px;
}

/*ICONO EN EL NAV*/
.menu__nav .menu__nav__ul .menu__nav__ul__li:first-child a {
    background-image: url(../multimedia/imagenes/Escudo_Salto_FC.png);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 2px 50px;
}

.menu__nav__ul__li:first-child:hover {
    background-image: url(../multimedia/imagenes/Escudo_Salto_FC.png);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 2px 2px;
}

.selected {
    transform: scale(1.1);
    background-color: hsl(30, 88%, 74%);
    box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.5);
}

.nav__elclub {
    width: 200px;
    display: flex;
    flex-direction: column;
    background-color: white;
    position: absolute;
    top: 90px;
    left: -5px;
    padding: 14px 0px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.5);
    z-index: 10;
    transition: all 300ms ease;
}

.menu__nav .menu__nav__ul .menu__nav__ul__li:hover .nav__elclub {
    visibility: visible;
    opacity: 1;
    top: 70px;
}

.menu__nav .menu__nav__ul .menu__nav__ul__li .nav__elclub:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid white;
    position: absolute;
    top: -12px;
    left: 20px;
}

.nav__elclub__li a {
    display: block;
    color: hsl(44, 42%, 26%);
    padding: 6px;
    padding-left: 14px;
    margin-top: 10px;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 300ms ease;
}

.nav__elclub__li a:hover {
    background-color:hsl(44, 42%, 26%);
    color: white;
    transform: scale(1.1);
    padding-left: 30px;
    font-size: 14px;
    box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.5);
}

.nav__elclub__li {
    list-style: none;
}

/*ELEMENTOS RESPONSIV*/
.icon__menu {
    font-size: 26px;
    color: white;
    cursor: pointer;
    width: 40px;
    height: 100%;
    display: none;
    align-items: center;
}

#label__check {
    width: 26px;
    height: 100%;
    display: none;
}

#check__menu {
    display: none;
}

/* MENU RESPONSIVE TABLET*/
@media only screen and (max-width:1200px) {
    .naranjaclaro__buscar input {
        display: none;
    }

    .header__naranjaclaro {
        padding: 5px;
    }

    .naranjaclaro__logo a img {
        width: 75px;
    }

    .naranjaclaro__titulo .t1 {
        font-size: 30px;
    }

    .naranjaclaro__titulo .t2 {
        font-size: 10px;
    }

   .naranjaclaro__sponsors a img {
    width: 75px;
    height: 75px;
   }

   .menu__nav__ul {
    flex-direction: column;
    background-color: hsl(44, 42%, 26%);
    /*position: fixed;*/
    left: 0;
    top: 158px;
    width: 100%;
    height: 350px;
    transition: all 300ms ease;
    z-index: 100;
   }

   .menu__nav {
    width: 100%;
   }

    .menu__nav__ul__li a:hover {
        transform: scale(1);
    }

    .nav__elclub {
        left: 150px;
        width: 100%;
    }

    .menu__nav__ul__li {
        width: 100%;
    }

    .menu__nav .menu__nav__ul .menu__nav__ul__li:hover .nav__elclub {
        top: 63px;
    }

    .menu__nav__ul__li:first-child a {
        background-position: 20 px;
    }

  
    .main .tit {
        font-size: 30px;
    }

    main h1 {
        font-size: 50px;
        margin-top: 450px;
    }

    .carousel__fotos img {
        width: 250px;
        height: 200px;
    }

    .calendario .cal__1 {
        height: 400px;
        width: 350px;
    }
    
    .calendario .cal__2 {
        height: 100px;
        width: 250px;
    }

    .grid__container .carousel__fotos p, .grid__container .noticia p {
        font-size: 10px;
    }

    .grid__container .noticia h3 {
        font-size: 30px;
    }

    .noticia .noticia img{
        width: 500px;
        height: 200px;
    }

    .noticia video {
        height: 250px;
        width: 150px;
    }

    .whatsapp {
        width: 40px;
        position: fixed;
        bottom: 10px;
        right: 10px;
    }

    .grid__container {
        display: grid;
        gap: 10px;
        grid-template-areas:
         "carousel__fotos"
         "calendario"
         "noticia";
    }
    
    .registro {
        display: grid;
        gap: 10px;
        grid-template-areas: 
        "registro__primero"
        "registro__segundo";
    }

    #visible {
        display: none;
    }
}

/* MENU RESPONSIVE CELULARES*/
@media only screen and (max-width:768px) {
    #label__check {
        display: block;
    }

    .icon__menu {
        display: flex;
    }

    #check__menu:checked ~ nav > ul {
        height: 400px;
        visibility: visible;
        opacity: 1;
    }

    .menu__nav__ul {
        flex-direction: column;
        background-color: hsl(44, 42%, 26%);
        position: fixed;
        left: 0;
        top: 158px;
        width: 100%;
        height: 0;
        transition: all 300ms ease;
        z-index: 100;
        visibility: hidden;
        opacity: 0;
    }

    main h1 {
        font-size: 50px;
        margin-top: 10px;
    }

    .grid__container {
        display: grid;
        gap: 10px;
        grid-template-areas:
         "carousel__fotos"
         "calendario"
         "noticia";
    }

    .registro {
        display: grid;
        gap: 10px;
        grid-template-areas: 
        "registro__primero"
        "registro__segundo";
    }
    .registro a img {
        height: 150px;
    }

    .equipo, .tienda img {
        width: 250px;
        
    }
}

/*FOOTER*/
.footer {
   
    width: 100%;
    background-color:hsl( 28, 1%, 43%);
    height: 100%;
}
.footer__container {
    flex-wrap: wrap;
    max-width: 1600px;
    margin: auto;
    display: flex;
    text-align: center;
    justify-content: space-between;
    height: 100%;
}

.box__footer {
    display: flex;
    flex-direction: column;
    padding: 30px;
    height: 100%;
    
}

.box__footer img {
    width: 50px;
    padding: 5px;
}

.box__footer h2 {
    margin-bottom: 10px;
    /*color: hsl(44, 42%, 26%);*/
    color: white;
    font-weight: 700;
    font-family: 'Bree Serif', serif;
}

.box__footer a {
    margin-top: 10px;
    color: white;
    
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Nunito Sans', sans-serif;
}

.box__footer a:hover {
    opacity: 0.8;
}

.box__copy {
    max-width: 1000px;
    margin: auto;
    text-align: center;
    padding: 0px 50px;
    font-family: 'Bree Serif', serif;
}

.box__copy p {
    margin-top: 20px;
    /*color: hsl(44, 42%, 26%);*/
    color: white;
    font-family: 'Bree Serif', serif;
}

#autor {
    font-weight: 1000;
    margin-bottom: 0px;
}

/*CUERPO INDEX*/
body {
    height: 100%;
    width: 100%;
    background-color:  bisque;
}

.main {
    width: 100%;
    margin-top: 210px;
    height: 100%;
    background-color:  bisque;
}

.cs__texto__carousel h5, .cs__texto__carousel p {
    color:hsl(44, 42%, 26%);
    background-color: hsl(30, 88%, 74%);
}

.cs__sec__carousel {
    width: 100%;
    height: 100%;
}



.cs__img__fixture img {
    height: 100px;
    width: 90%;
}

.cs__img__fixture {
    background-color:hsl( 28, 1%, 43%);
    color: white;
    font-family: 'Bree Serif', serif;
}

.cs__img__noticias {
    display: flex;
    align-items: center;
    font-family: 'Bree Serif', serif;
    border-right: solid hsl( 28, 1%, 43%);
}

.cs__img__noticias img {
    margin: 20px;
}

.cs__video__noticia {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cs__video__noticia > div > video{
    align-items: center;
    height: 500px;
}

.cs__video__noticia h3 {
    margin-bottom: 10px;
    color: hsl(44, 42%, 26%)
}

#socio, #nosocio {
    width: 300px;
}

.cs__usuario {
    margin: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    border-bottom: solid 2px hsl( 28, 1%, 43%);
}

.cs__form1 {
    display: flex;
    flex-direction: column;
    font-family: 'Bree Serif', serif;
    
}

.cs__form2 {
    margin: 30px;
    font-family: 'Bree Serif', serif;
    border-bottom: solid 2px hsl( 28, 1%, 43%);
    padding: 15px;
}



/*.grid__container, registro > * {
    text-align: center;
    padding: 10px;
    margin-left: 30px;
    margin-right: 30px;
}

.grid__container {
    display: grid;
    gap: 10px;
    grid-template-areas:
     "carousel__fotos calendario"
     "noticia noticia";
}

.grid__container {
    width: 100%;
    height: 100%;
}
.registro {
    display: grid;
    grid-template-areas: 
    "registro__primero registro__primero"
    "registro__segundo registro__segundo";
    margin: 20px 20px;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    margin-left: 30px;
    margin-right: 30px;
    border-bottom: 3px solid hsl(44, 42%, 26%);
}

.registro__primero {
    border-bottom: 3px solid hsl(44, 42%, 26%);
    text-align: center;
    margin: 100px;
    padding: 50px;
    width: 100%;
}

















.carousel__fotos {
    grid-area: carousel__fotos;
    background-color:  bisque;
    border-bottom: 3px solid hsl(44, 42%, 26%);
    
}

.calendario {
    grid-area: calendario;
    background-color:  bisque;
    border-bottom: 3px solid hsl(44, 42%, 26%);
    display: flex;
    flex-direction: column;
    
}

.noticia {
    grid-area: noticia;
    background-color:  bisque;
    display: flex;
    flex-direction: column;
    align-items: center;
}*/


.main h1 {
    padding: 20px;
    text-align: center;
    font-family: 'Bree Serif', serif;
    color: hsl(44, 42%, 26%);
    font-size: 50px;
    font-weight: 800;
}

.main h2 {
    padding: 20px;
    text-align: center;
    font-family: 'Bree Serif', serif;
    color: hsl(44, 42%, 26%);
    font-size: 35px;
    font-weight: 600;
}

/*.carousel__fotos img, .registro a img, .tienda img, .pena img{
    height: 300px;
    margin: 5px;
    padding: 10px;
    border: solid 3px  hsl(36, 96%, 55%, 0.836);
    display: inline;
}

.equipo {
    margin: 5px;
    padding: 10px;
    border: solid 3px  hsl(36, 96%, 55%, 0.836);
    height: 500px;
    margin: 5px;
    
    display: inline;
}

.historia, .plantel, .tienda, .pena {
    padding: 20px;
    text-align: center;
}

.carousel__fotos p, .noticia p, .historia p, .plantel p, .pena p {
    font-family: 'Kdam Thmor Pro', sans-serif;
    color:hsl(44, 42%, 26%);
    font-size: 17px;
    margin: 20px 0 auto;
}

.cal__1 {
    height: 600px;
    width: 550px;
    margin: 10px;
    padding: 10px; 
    border: solid 3px  hsl(36, 96%, 55%, 0.836); 
}

.cal__2 {
    height: 200px;
    width: 500px;
    margin: 10px;
    padding: 10px; 
    border: solid 3px  hsl(36, 96%, 55%, 0.836);
}

.noticia img, .registro img {
    height: 800px;
    margin: 10px;
    padding: 10px; 
    border: solid 3px  hsl(36, 96%, 55%, 0.836);
}

.login a img {
    margin: 10px;
    border: solid 3px  hsl(36, 96%, 55%, 0.836);
    padding: 10px;
}

.login__primero {
    padding-left: 30%;
    
}

.login {
    width: 100%;
    height: 100%;
    display: flex;
}

.noticia h3 {
    padding: 20px;
    text-align: center;
    font-family: 'Bree Serif', serif;
    color: hsl(44, 42%, 26%);
    font-size: 40px;
    font-weight: 500;
}

.noticia video {
    height: 500px;
    width: 300px;
    margin: 10px;
    padding: 10px;
    border: solid 3px  hsl(36, 96%, 55%, 0.836); 
}

.noticias, .registro {
    width: 100%;
    height: 100%;;
}




.whatsapp {
    width: 80px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}




.animacion__fondo {
    color:  hsl(30, 75%, 63%);
    font-size: 0;
    line-height: 1.5;
    font-family: 'Bree Serif', serif;
    
}

.animacion__fondo span {
    font-size: 2rem;
    display: inline-block;
    animation: move 3s ease-in-out infinite;
}

.animacion__fondo {
    animation: move2 15s ease-in-out infinite;
    animation-timing-function: linear;
    position: relative;
    animation-direction: alternate;
}

@keyframes move {
    0% {
        transform: translate(-30% 0);
    }
    50% {
        text-shadow: 0 25px 50px rgb(0, 0, 0, 0.75);
    }
    100% {
        transform: translate(30% 0);
    }
}

@keyframes move2 {
    0% {
        left: 0;
    }
    15% {
        left: 3.5%;
    }
    50% {
        left: 7%;
    }
    75% {
        left: 10.5%;
    }
    100% {
        left: 14%;
    }
}
.animacion__fondo span:nth-child(2) {
    animation-delay: 0.5s;
}

.animacion__fondo span:nth-child(3) {
    animation-delay: 1s;
}

.animacion__fondo span:nth-child(4) {
    animation-delay: 1.5s;
}

.animacion__fondo span:nth-child(5) {
    animation-delay: 2s;
}

.animacion__fondo span:nth-child(6) {
    animation-delay: 2.5s;
}*/