/* Colores naranja fuerte hsla(30, 99%, 51%, 1)*/
/* Color naranja claro hsla(30, 73%, 52%, 1)*/
/*color gris submenu capas hsla(30, 32%, 75%, 0.97)*/
/* hsl(44, 42%, 26%); color letras titulos*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

@import 'base/cs-fondocolor';
@import 'base/cs-fonts';
@import 'base/cs-body';
@import 'base/cs-main';
@import 'base/cs-medias';
@import 'components/header';
@import 'components/footer';
@import 'components/index';
@import 'components/registrar';
@import 'components/elclub';
@import 'components/tienda';
@import 'components/penas';
@import 'components/login';























