.cs__form1 {
    display: flex;
    flex-direction: column;
    font-family: 'Bree Serif', serif;
    
}

.cs__form2 {
    margin: 30px;
    font-family: 'Bree Serif', serif;
    border-bottom: solid 2px hsl( 28, 1%, 43%);
    padding: 15px;
}